# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Logs
*.log

# Vim swap files
*.swp

# NFS files
*.nfs*

# Extra python files
__pycache__
*.pyc

# TensorFlow models
src/examples/word_prediction_27/med_model
src/examples/word_prediction_27/small_model
