# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Lab1 stuff
*.json
*_gen
Json2CSV

# TinyFS
*.dsk

# Logs
*.log

# Vim swap files
*.swp

# NFS files
*.nfs*
